<h4> Pictures </h4>

<% if current_user %>
	<%= link_to "Add a New Picture", "/pictures/new" %>
<% end %>



	<ul class="small-block-grid-3">
		<li>
				<% @pictures.each do |picture| %>
			  
			  <div class="image">
					<%= link_to image_tag(picture.image.thumb.url), "/pictures/#{picture.id}" %> 
				</div>
				<p> <%= picture[:title] %>, <%= picture[:artist] %> </p>
			<% end %>
		</li>
	</ul>



