<h1> Add a picture </h1>

<%= link_to "Back to Pictures", pictures_url %>

<% if current_user %>
	<p>
		<% if !@picture.errors.messages.blank? %>
			<p> Oops - some errors prevented this from saving: </p>
			<% @picture.errors.full_messages.each do |message| %>
				<%= message %>
			<% end %>
		<% end %> 
	</p>

<%= render "form" %>

<% else %>
	<p> Please Log In to Add Picture </p>

<% end %>
